beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
greenlet==1.1.0
idna==2.10
lxml==4.6.3
msgpack==1.0.2
plumbum==1.7.0
pynput==1.7.3
pynvim==0.4.3
pyperclip==1.8.2
pypiwin32==223
pywin32==300
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
urllib3==1.26.4
win10toast==0.9
winapps==0.1.6
winnotify==0.1.0
